@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$border-color: #c0333398;

input {
    position: relative;
    border: 3px solid $border-color;
    border-radius: 8px;
    margin-bottom: 15px;
    height: 40px;

    &::placeholder {
      font-weight: 600;
      opacity: 0.8;
      font-size: large;
    }
}