.register {
  .top-padding {
    padding: 9% 50px 9% 50px;
  }

  .card {
    max-width: 1360px !important;
    background-color: $superlight1-grey;
    border-radius: 20px !important;
    text-align: center;
    box-shadow: $box-shadow;
    height: 720px;
    margin: 0 auto;

    .left-side {
      height: 719px;
    }

    .image {
      background: url(../assets/imgs/form.png) no-repeat center !important;
      width: 100% !important;
      height: 100% !important;
      border-radius: 20px 0px 0px 20px !important;
    }
    .right-side {
      position: relative;
    }

    .forms {
      position: absolute;
      top: 3%;
      width: 96.5%;
      max-width: 1000px;
      height: 670px;
      padding: 0 40px;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      background-color: $superlight2-grey;
      box-shadow: $box-shadow;

      .title {
        margin: 0 auto;
        h5 {
          margin-bottom: 20px;
        }
      }

      .input-type {
        width: 90% !important;
        height: 30px;
      }
      @include input();

      #inputState {
        padding: 0 10px !important;
        width: 100% !important;
        font-size: large;
        font-weight: 600;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.479);
        height: 40px;
        border: 3px solid $border-color;
        border-radius: 8px;
      }

      .form-control[type="file"]:not(:disabled):not([readonly]) {
        width: 100% !important;
        margin-left: 9% !important;
        height: 35px !important;
      }
      .uploud {
        font-size: large !important;
        font-weight: 600 !important;
        opacity: 0.6 !important;
        margin-top: 5px;
        width: 170px;
        margin-left: 30px;
      }
      #formFile {
        line-height: 1 !important;

        font-size: large !important;
        font-weight: 600 !important;
        color: $logo-red-color;
        background-color: white !important;
      }

      .gender-radio {
        h6 {
          font-size: large !important;
          font-weight: 600 !important;
          color: rgba(0, 0, 0, 0.479);
          margin-left: 35px;
        }
        .genders {
          margin-left: 80px;
        }
        .gender-style {
          font-size: large !important;
          font-weight: 600 !important;
        }

        .gender {
          position: relative !important;
          left: 7px;
          bottom: 7px;
          width: 15px !important;
          &:checked {
            accent-color: $logo-red-color;
          }
        }
      }

      .select {
        width: 50px !important;

        &:checked {
          background-color: red !important;
        }
        option {
          font-size: large !important;
          font-weight: 300 !important;
        }
      }
    }

    #gender {
      position: relative;
      width: 15px !important;
      margin-left: 20px !important;

      &:checked {
        accent-color: $logo-red-color;
      }
    }

    #flexCheckDefault {
      width: 20px !important;
      min-width: 20px !important;
      accent-color: red !important;
    }
    .check-label {
      max-width: 600px !important;
      text-align: start;
      margin-left: 20px;
      margin-top: 2px;
      opacity: 0.7;
    }
    @include submit-button();

    .login {
      position: absolute;
      bottom: 10px;
      left: 20px;
      cursor: pointer;
      p {
        position: relative;
        top: 2px;
        font-size: small;
        opacity: 0.7;
      }
      a {
        text-decoration: none;
        color: $logo-red-color;
        margin-left: 5px;
        font-size: medium;
        transition: 200ms !important;
      }
      &:hover {
        a {
          margin-left: 20px;
          color: #219105c9 !important;
        }
      }
    }
  }
}
// ------------------------------------------------------media quiry-------------------------------------------------------------------------------------------
@media screen and (max-width: 992px) {
  .register {
    .form-body {
      height: fit-content !important;
    }

    .card {
      max-width: 600px !important;
      border-radius: 20px !important;
      box-shadow: $box-shadow;
      height: 1200px;

      .left-side {
        height: 250px;
        background-color: white !important;
        border-radius: 20px 20px 0px 0px !important;
      }

      .image {
        background: url(../assets/imgs/form.png) no-repeat !important;
        background-position-x: center !important;
        background-position-y: -60px !important;
      }
    }
    .card .forms .form-control[type="file"]:not(:disabled):not([readonly]) {
      width: 55% !important;
      height: 35px !important;
    }
    .forms {
      height: 940px !important;
      box-shadow: none !important;
      .title {
        h1 {
          font-size: 32px;
        }
        h5 {
          margin-bottom: 20px;
        }
      }
      .date {
        margin-top: 15px !important;
      }

      .uploud {
        margin-left: 0px !important;
      }
      #number {
        margin-top: 15px;
      }

      .login {
        position: unset !important;
        margin: 0 auto !important;
        padding: 10px 10px !important;
        background-color: rgb(255, 255, 255);
        font-size: small !important;
        border-radius: 10px;
        width: 250px;
        justify-content: center;
        text-align: center;

        P {
          // margin: 0 auto;
          margin-bottom: 0px !important;
        }
        a {
          margin-left: 5px !important;
          transition: 0ms !important;
        }
        &:hover {
          background-color: $logo-red-color;
          color: white;
          p {
            opacity: 1 !important;
          }
          a {
            color: white !important;
          }
        }
      }
    }

    #submit {
      position: unset !important;
      margin: 25px auto 15px auto !important;
      font-size: large !important;
      font-weight: 600 !important;
      font-size: 20px !important;
      width: 300px !important;
      height: 65px !important;
      padding: 0 20px !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .register {
    .form-body {
      height: fit-content !important;
    }
    .top-padding {
      padding: 50px 10px 50px 10px !important;
    }
    .card {
      max-width: 350px !important;
      border-radius: 20px !important;
      box-shadow: $box-shadow;
      height: 1220px;

      .left-side {
        border-radius: 20px 20px 0px 0px !important;
      }

      .image {
        background-position-y: -30px !important;
        background-size: 130% !important;
        border-radius: 20px 20px 0px 0px !important;
      }
      .forms {
        margin: 30px 0;
        height: 800px !important;
        width: 90% !important;

        padding-top: 100px !important;

        .title {
          h1 {
            font-size: 25px;
            width: 90%;
            margin: 0 auto;
          }
          h5 {
            margin-bottom: 20px;
            font-size: 18px !important;
            width: 75%;
            margin: 0 auto 15px auto;
          }
        }
        input {
          width: 100% !important;
          margin: 0 auto 15px auto;
        }
        #inputState {
          width: 100% !important;
          margin: 0 auto;
        }
        .date {
          margin-top: 15px !important;
        }

        .uploud {
          margin-left: 8px !important;
        }

        .form-control[type="file"]:not(:disabled):not([readonly]) {
          display: block;
          width: 70% !important;
          height: 35px !important;
        }
        .form-checkk {
          margin: 0 auto !important;
          width: 90% !important;

          #flexCheckDefault {
            min-width: 15px !important;
          }
          .check-label {
            max-width: 500px !important;
            text-align: start;
            margin-left: 20px;
            margin-top: 9px;
            font-size: small;
          }
        }
      }
    }
    h6 {
      font-size: large !important;
      font-weight: 600 !important;
      color: rgba(0, 0, 0, 0.479);
      margin-left: 10px !important;
    }

    .genders {
      margin-left: 8px !important;
      position: relative;
      bottom: 3px;
    }
    #submit {
      position: relative !important;
      left: 5px !important;
    }
  }
}
